.sidebar {
    width: 200px;
    height: 100vh;
    background-color: #333;
    color: #fff;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
}

.container {
    display: flex;
    height: 100vh;
}
.menuList {
    list-style-type: none;
    padding: 0;
}

.link {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.logoutButton {
    background-color: #f44336;
    border: none;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}